@font-face { font-family: NautilusPompilius; src: url('../../public/Nautilus.otf'); } 
@font-face { font-family: Myriad Pro; src: url('../../public/MyriadPro-Regular.otf'); } 
@font-face { font-family: ProximaNovaLight; src: url('../../public/ProximaNova-Light.otf'); }
@font-face { font-family: Montserrat Bold; src: url('../../public/Montserrat-Bold.otf'); }
@font-face { font-family: ProximaNovaRegular; src: url('../../public/ProximaNovaRegular.ttf'); }
@font-face { font-family: OpenSansRegular; src: url('../../public/OpenSans-Regular.ttf'); }
@font-face { font-family: Montserrat Light; src: url('../../public/Montserrat-Light.otf'); }
@font-face { font-family: ProximaNovaBold; src: url('../../public/ProximaNova-Bold.otf'); }