
.section1 {
  background-image: url("../../public/background.png");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.section1 .container-fluid {
    max-height: 80vh;
}

.section1 .jumbotron {
  height: 80vh !important; 
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

//Switch logo
.logo {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 33px;
  font-family: "NautilusPompilius";
  color: white;
  line-height: 1.2;
  text-align: center;
  z-index:0;
  padding: 0px;
  padding-top: 2px; 
}

.logo:hover {
  opacity: 0.8;
  cursor: default;
}


.jumbotron {
  position: relative;
  text-align: center;
  background-color: transparent;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;

  h1{
    color: white;
    font-weight: 900;
    font-family: "ProximaNovaLight";
    letter-spacing: 3px;
    text-shadow: 2px 0 white;
  }
}

//Navigation Bar
.navbar {
  background-image: url("../../public/Layer1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0;
  opacity: 1;
  font-family: "Myriad Pro";
  overflow: hidden !important;
}

.navbar-inverse {
  min-height: 50px;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
}

.navbar-toggle {
  z-index: 50;
  margin: 0 0;
  padding: 0;
  padding-top: 3px;
  background-color: transparent;
  span {
  background-color: white !important;
  }
}

.navbar-nav>li>a {
  padding: 0px;
  margin-left: 30px;
  padding-top: 8px;
  font-size: 20px;
  color: white !important;
}

.navbar-nav>li>a:hover {
  opacity:0.8;
}

//WorkWithUs Button
.workWithUsButton {
  text-shadow: none;
  padding-top: 2vh;
  background-color: #54d154;
  color: white;
  width: 20vw;
  height: 7vh;
  font-size: 3vh;
  margin: 0 auto;
  font-family: ProximaNovaRegular;
  font-weight: normal;
  display: inline-block;
  letter-spacing: normal;
}

.btn-success {
  border-radius: 40px;
  background-color: #54d154;
  border:none;
}

.btn-success:focus {
  background-color: #54d154;
  border: none;
}

.btn:focus {
  outline: 0 !important;
}

//Search Bar
.search {
  margin:10px; 
  height: 20px;
  width: 10vw;
  padding-left: 5px;
  padding-top: 2px;
  font-family: ProximaNovaLight;
  font-size: 12px;
  border-radius: 15px;
  background-color: white;
}

.search img {
  float: right;
  padding-right: 5px;
}

//Scroll Down Link
.scrollDown {
  position: absolute;
  bottom: 10px;
  background-color: white;
  height: 3vh;
  font-size: 1.8vh;
  padding-top: 0.2vh;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  border: none;
  font-family: ProximaNovaLight;
}

.scrollDown:focus {
  background-color: white;
}

.scrollDown a{
  color: black !important;
}

.scrollDown a:hover {
  text-decoration: none;
}


.scrollDown img {
  src: "../public/scrollDown.png";
}

@media screen and (max-width: 767px) {
  .workWithUsButton{
    width: 60vw;
    font-size: 5vh;
    padding-top: 2.5vh;
    height: 10vh;
    display: none;
  }

  .scrollDown {
    font-size: 3vh;
    bottom: 1vh;
    min-height: 4vh;
  }

  .scrollDown img {
    display: none;
  }

  .jumbotron h1 {
    font-size: 10vh;
  }

  .section1 {
    min-height: 80vh;
    min-width: 100vw;
  }

  .navbar-inverse {
    min-height: 40px;
  }

  .logo {
    font-size: 40px;
    color: white !important;
    text-align: left;
  }

  .logo:hover {
    opacity: 1;
  }

  .navbar-toggle {
    padding-top: 7px;
    margin-top: 4px;
    margin-right: 20px;
    border: none;
    background-color: transparent !important;
    color: transparent !important;
    transform: scale(2);
  }

  .navbar-collapse {
    margin-top: 15px;
    border: none;
    box-shadow: none;
  }

  .navbar-nav>li>a {
  padding: 10px;
  font-size: 30px;
  margin-left: 0px;
  }

  .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .navbar {
  min-height: 40px;
  background-color: rgba(0,0,0,0.8);;
  display: block;
  overflow: auto;
}

.search {
  width: 80vw;
}

.search img {
  float: right;
  position: relative;
}

}

@media screen and (min-width: 1150) and (max-width: 1300px) {
  .navbar-nav>li>a {
  margin-left: 20px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1150px) {
  .navbar-nav>li>a {
  margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .navbar-nav>li>a {
  margin-left: 10px;
  font-size: 17px;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-left: -20px;
}

.navbar {
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .workWithUsButton{
    display: none;
  }
}

