.section7 {
	background-color: #3eba3e;
}

.section7 .jumbotron {
	height: 150px;
	margin: 0; 
	padding: 0;
	min-height: 50px;
	max-height: 10vh;
}

.section7 .btn {
	margin-top: 0;
	font-family: "ProximaNovaLight";
}